@page "/"
@inherits HomeBase
@attribute [StreamRendering]
@rendermode InteractiveServer
@using DungBeetle.Components.Pages.MemberListComponent
@using DungBeetle.Components.Pages.CalenderComponent
@using DungBeetle.Components.Pages.DaySummaryComponent
@using DungBeetle.Components.Pages.DayListComponent

<PageTitle>Home</PageTitle>

<h1>Home</h1>

<div class=" row">
	<div class="input-group mb-3">
		<span class="input-group-text">Year</span>
		<InputNumber @bind-Value="Year" class="form-control" />
		<span class="input-group-text">Month</span>
		<InputNumber @bind-Value="Month" class="form-control" max="12" min="1" />
	</div>
</div>

<MemberList Members="Members"></MemberList>
<button class="btn btn-primary" @onclick="Submit">Generate</button>

<hr />
<div>
	@if (Model.Days.Any())
	{
		<DaySummary Model="Model"></DaySummary>
		<Calender Model="Model" Month="@Month" Year="@Year"></Calender>
		<DayList Model="Model"></DayList>
	}
</div>